.pswbody{
    display:flex;
    flex-direction: column;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.425);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
 }

 .backpsw  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.pswbody button{
    border-radius: 10px;
}

.pswbody input{
    border-radius: 10px;
}